
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.hero-image{
  text-align: center;
}
h1, h2, h3, h4{
  font-family: 'Nunito';
}
.background{
  padding:0px;
}
#hero-msg{
  margin: 50px;

}
p, li{
  font-family: Lato, Helvetica, sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  padding: 0px;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: larger;
}

#hero-msg{
  width: 900px;
  font-size: large;
  background-color: rgb(247, 247, 195);
  margin: 0;
  margin-bottom: 70px;

}
li{
  margin: 1em;
}
.ingredients {
  width: 900px;
  padding: 10px;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 10px solid rgb(251, 255, 43);
  margin: 0px;
  margin-bottom: 60px; 
}
h1{
  text-align: center;
}
.ingredients2{
  grid-column: 1/2;
}
.noodle_img{
  text-align: center;
}
.list_one{
  grid-column: 1/2;
}
.list_two{
  grid-column: 2/3;
}
.list_three{
  grid-column: 3/4;
}
nav a:hover {
  background-color: rgb(49, 50, 31);
  color: gray;
}
.opener{
    width: 900px;
    margin-bottom: 50px;
}
main {
  display: grid;
  margin-left: 20%;
  margin-top: 50px;
  max-width: 900px;
  
}
#noodle_img{
  margin-bottom: 10px;
}
main section img {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin:0;
  font-family: "[fill in]";
  background-color: #fcfbfb;

}
h2{
    margin: 0;
}
header {
  background-color: rgba(20,30,13, .7);
  display: grid;
  grid-template-columns: 150px auto;
  text-align: center;
}
 
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
.logo {
  width: 80px;
}


.instructions{
    width: 900px;
}
.portions{
    margin-left: 100px;
}
#hero-msg {
    /* margin: ; */
}
#logo_link {
    padding-top: 5px;

}
footer {
  margin-top: 100px;
  padding: 5px 10px;
  background-color: gray;
  color: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sause{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  grid-column-gap: 50px;
}
.sause_inst{
  grid-column: 1/2;
}
.sause_pic{
  grid-column: 2/3;
}
footer a {
  color: bisque;
  text-decoration: none;
}
footer a:hover {
  color: rgb(79, 124, 79);
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  display: none;      
}
.moveDown {
  margin-top: 3em;
}




@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  
  #hero-msg .hero-image{
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  #background {
      display: none;
  }
  footer {
      margin-top: 25px;
  }
  .hero-image{
    display: block;
    height: auto;
    margin-top: 0;
  }
  main{
    display: block;
    height: auto;
  }
  #hero-msg{
    margin: 0;
  }
  .home-grid{
    margin: 0;
  }
  .portions{
    margin: 0;
  }
}