body {
    background-color: grey;
    padding: 0%;
    margin: 0%;
}
#title {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5% 0;
}
.icon {
    border-radius: 100%;
    border: 10px solid rgb(47, 55, 55);
    width: 60%;
    margin: auto;
}
section {
    width: 100%;
}
