body {
    background-color: blueviolet;
    padding: 0;
    margin: 0;
}
h1 {
    background-color: rgb(61, 111, 94);
    padding: 30px;
    border: 30px solid greenyellow;
    margin:0 auto;
    border-radius: 50px;
    color: rgb(164, 5, 5);
    max-width: 80%;
    text-align: center;
    box-sizing: border-box;
}
.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}