

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    padding: 35px;
    text-align: center;
    color: black;
    text-decoration: none;
}
nav a:hover {
    background-color: rgb(122, 185, 220);
    color: gray;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: "IM Fell French Canon";
    background-color: #fcfbfb;
}
h2{
    margin: 0;
}
header {
    background-color: rgba(20,30,13, .7);
}
.book, .join {
    border-radius: 5px;
    margin-top: 50px;
    padding: :15px 30px;
    font-size: 18px;
    background-color: burlywood;
    color: black;
    text-decoration: none;
}
.book a:hover, .join:hover {
    background-color: white;
    color: black;
}
.msg {
    padding: 35px;
    background-color: gray;
    color: black;
}
.msg p{
    padding-bottom: 35px;
    font-size: 18px;
}
.msg h2  {
    color: black;
}
.home-title {
    margin-top: 10px;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 2em;
    color: bisque;
}
.button-box {
    text-align: center;
}
.logo {
    width: 80px;
}
.icon{
    padding-top: 10px;
    width: 80px;
}
.rivers-card, .camping-card, .rapids-cards {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
#background {
    height: 725px;
    background-color: whitesmoke
}
#hero-msg h1,#hero-msg h4 {
    
    text-align: center;
    color: black;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}
footer {
    margin-top: 200px;
    padding: 25px 50px;
    background-color: gray;
    color: bisque;
}
footer a {
    color: bisque;
    text-decoration: none;
}
footer a:hover {
    color: rgb(79, 124, 79);
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}