/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #1c1f22;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	margin-top: 0;
}

footer {
	background-color: #1c1f22;
	color: #fff;
	padding: 20px;
	text-align: center;
}
