body {
    background-color: orange;
}
main {display: grid;
grid-template-columns: 1fr 1fr;
}
.bottom {
    grid-row: 2;
    grid-row: 1; 
    z-index: -1;
}
.bottom img {
    width:100%;
}
.top {
    grid-row: 1;
    grid-column: 1;
    text-align: right;
}